force-app/main/default/flows/Apology_Notification_Transaction_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Issue_Apology_Payment</name>
        <label>Issue Apology Payment</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>ExceptionPaymentInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Message_Record_Updates</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Message_Record_Input.Visit__r.Center_Donation_Type__r.Center__r.Apology_Campaign_Payment_Amount__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>donorId</name>
            <value>
                <elementReference>Message_Record_Input.Donor__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitId</name>
            <value>
                <elementReference>Message_Record_Input.Visit__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_Id_Input.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient_Id_Collection_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Message_Record_Update.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Message_Record_Updates</name>
        <label>Assign Message Record Updates</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Message_Record_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_Record_Input.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record_Update.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Message_Record_Body</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Apology Notification and Transaction Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apology Notification and Transaction Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Message_Record_Body</name>
        <label>Update Message Record Body</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <inputReference>Message_Record_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Issue_Apology_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We understand that waiting for an extended period of time can be frustrating. We apologize for any inconvenience. You will be receiving an extra ${!Message_Record_Input.Visit__r.Center_Donation_Type__r.Center__r.Apology_Campaign_Payment_Amount__c} for this donation.</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We apologize for the wait...</text>
    </textTemplates>
    <textTemplates>
        <name>Reason</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Apology Campaign</text>
    </textTemplates>
    <variables>
        <name>Custom_Notification_Id_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomNotificationType</objectType>
    </variables>
    <variables>
        <name>Donor_Record_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Donor_User_Record_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Message_Record_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>Message_Record_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>New_Transaction_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipient_Id_Collection_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transaction_Header</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>Transaction_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Txn_Line_Item__c</objectType>
    </variables>
</Flow>
