force-app/main/default/flows/Apology_Notification_Transaction_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_Id_Input.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient_Id_Collection_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>{type:&apos;communitiesLandingPage&apos;,attributes:{name:&apos;Home&apos;}}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Message_Record_Updates</name>
        <label>Assign Message Record Updates</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Message_Record_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_Record_Input.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record_Update.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Message_Record_Body</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Transaction_Record_Id</name>
        <label>Assign New Transaction Record Id</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>New_Transaction_Record_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Header.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Transaction_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Transaction_Line_Item</name>
        <label>Build Transaction Line Item</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Transaction_Line_Item.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Transaction_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Line_Item.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Currency</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Line_Item.Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Apology Campaign Payment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Line_Item.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Line_Item.Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit_Record.Center_Donation_Type__r.Center__r.Apology_Campaign_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Line_Item.Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Visit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Txn_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Transaction_Record</name>
        <label>Build Transaction Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Transaction_Header.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_Record_Input.Visit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Header.Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Donor_Record_Input.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Header.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Apology Payment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transaction_Header.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Header</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Apology Notification and Transaction Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apology Notification and Transaction Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Transaction_Header</name>
        <label>Create Transaction Header</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Assign_New_Transaction_Record_Id</targetReference>
        </connector>
        <inputReference>Transaction_Header</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Txn_Line_Item</name>
        <label>Create Txn Line Item</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Assign_Message_Record_Updates</targetReference>
        </connector>
        <inputReference>Transaction_Line_Item</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Visit_Record</name>
        <label>Get Visit Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Transaction_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Message_Record_Input.Visit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Message_Record_Body</name>
        <label>Update Message Record Body</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <inputReference>Message_Record_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visit_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We understand that waiting for an extended period of time can be frustrating. We apologize for any inconvenience. You will be receiving an extra {!Get_Visit_Record.Center_Donation_Type__r.Center__r.Apology_Campaign_Payment_Amount__c} for this donation.</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We apologize for the wait...</text>
    </textTemplates>
    <variables>
        <name>Custom_Notification_Id_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomNotificationType</objectType>
    </variables>
    <variables>
        <name>Donor_Record_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Donor_User_Record_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Message_Record_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>Message_Record_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>New_Transaction_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipient_Id_Collection_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transaction_Header</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>Transaction_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Txn_Line_Item__c</objectType>
    </variables>
</Flow>
