force-app/main/default/flows/Appointment_Reminder_Push_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_72_Hour_Notification</name>
        <label>Send 72 Hour Notification</label>
        <locationX>121</locationX>
        <locationY>2030</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Assign_72_Hour_Message_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Appointment_Reminder_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Appointment_Reminder_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Visit_Input_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_7_Day_Appointment_Reminder</name>
        <label>Send 7 Day Appointment Reminder</label>
        <locationX>121</locationX>
        <locationY>1118</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Assign_7_Day_Message_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Appointment_Reminder_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Appointment_Reminder_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Visit_Input_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X24_Hour_Notification</name>
        <label>24 Hour Notification</label>
        <locationX>275</locationX>
        <locationY>3038</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>X24_Hour_Message_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Appointment_Reminder_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Appointment_Reminder_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Visit_Input_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Recipient_to_Collection</name>
        <label>Add Recipient to Collection</label>
        <locationX>407</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Donor_User_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Wait_Until_7_Days_Prior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_72_Hour_Message_Record</name>
        <label>Assign 72 Hour Message Record</label>
        <locationX>121</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>X72_Hours_Before_Visit_Message.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appointment_Reminder_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>X72_Hours_Before_Visit_Message.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appointment_Reminder_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>X72_Hours_Before_Visit_Message.Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Input_Record.Donor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>X72_Hours_Before_Visit_Message.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Input_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_72_Hour_Message_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_7_Day_Message_Record</name>
        <label>Assign 7 Day Message Record</label>
        <locationX>121</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>X7_Days_Before_Visit_Message.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appointment_Reminder_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>X7_Days_Before_Visit_Message.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appointment_Reminder_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>X7_Days_Before_Visit_Message.Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Input_Record.Donor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>X7_Days_Before_Visit_Message.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Input_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_7_Day_Message_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X24_Hour_Message_Record</name>
        <label>24 Hour Message Record</label>
        <locationX>275</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>X24_Hours_Before_Visit_Message.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appointment_Reminder_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>X24_Hours_Before_Visit_Message.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appointment_Reminder_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>X24_Hours_Before_Visit_Message.Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Input_Record.Donor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>X24_Hours_Before_Visit_Message.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Input_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_24_Hour_Message_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Receives_Appointment_Reminders</name>
        <label>Check Receives Appointment Reminders</label>
        <locationX>253</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Wait_Until_72_Hours_Prior_Pause</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enabled_Appointment_Reminders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X7_Day_Donor_Recheck.Enable_Appointment_Reminders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_7_Day_Appointment_Reminder</targetReference>
            </connector>
            <label>Enabled Appointment Reminders</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_is_Past_Decision</name>
        <label>Date is Past Decision</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Notification_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_is_in_the_Past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Visit_Input_Record.Appointment_Datetime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$System.OriginDateTime</elementReference>
                </rightValue>
            </conditions>
            <label>Date is in the Past</label>
        </rules>
    </decisions>
    <decisions>
        <name>X24_Hour_Check_Receives_Appointment_Reminders</name>
        <label>24 Hour Check Receives Appointment Reminders</label>
        <locationX>407</locationX>
        <locationY>2918</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X24_Hour_Enabled_Appointment_Reminders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X24_Hour_Donor_Recheck.Enable_Appointment_Reminders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X24_Hour_Notification</targetReference>
            </connector>
            <label>24 Hour Enabled Appointment Reminders</label>
        </rules>
    </decisions>
    <decisions>
        <name>X72_Hour_Check_Receives_Appointment_Reminders</name>
        <label>72 Hour Check Receives Appointment Reminders</label>
        <locationX>253</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>Wait_Until_24_Hours_Prior_Pause</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X72_Hour_Enabled_Appointment_Reminders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X72_Hour_Donor_Recheck.Enable_Appointment_Reminders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_72_Hour_Notification</targetReference>
            </connector>
            <label>72 Hour Enabled Appointment Reminders</label>
        </rules>
    </decisions>
    <description>Fires mobile push notifications for appointment reminders.</description>
    <environments>Default</environments>
    <formulas>
        <name>X24_Hours_Before_Visit_Date</name>
        <dataType>DateTime</dataType>
        <expression>{!Visit_Input_Record.Visit_Date_Time__c}-1</expression>
    </formulas>
    <formulas>
        <name>X72_Hours_Before_Visit_Date</name>
        <dataType>DateTime</dataType>
        <expression>{!Visit_Input_Record.Visit_Date_Time__c} - (72/24)</expression>
    </formulas>
    <formulas>
        <description>Calculates Date 7 days before Visit Date.</description>
        <name>X7_Days_Before_Visit_Date</name>
        <dataType>DateTime</dataType>
        <expression>{!Visit_Input_Record.Visit_Date_Time__c}-7</expression>
    </formulas>
    <interviewLabel>Appointment Reminder Push Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Reminder Push Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_24_Hour_Message_Record</name>
        <label>Create 24 Hour Message Record</label>
        <locationX>275</locationX>
        <locationY>3278</locationY>
        <inputReference>X24_Hours_Before_Visit_Message</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_72_Hour_Message_Record</name>
        <label>Create 72 Hour Message Record</label>
        <locationX>121</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>Wait_Until_24_Hours_Prior_Pause</targetReference>
        </connector>
        <inputReference>X72_Hours_Before_Visit_Message</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_7_Day_Message_Record</name>
        <label>Create 7 Day Message Record</label>
        <locationX>121</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Wait_Until_72_Hours_Prior_Pause</targetReference>
        </connector>
        <inputReference>X7_Days_Before_Visit_Message</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Donor_Record</name>
        <label>Get Donor Record</label>
        <locationX>407</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Donor_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Visit_Input_Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donor_User_Record</name>
        <label>Get Donor User Record</label>
        <locationX>407</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Recipient_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Donor_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type_Id</name>
        <label>Get Notification Type Id</label>
        <locationX>407</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Donor_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proesis_Donor_App_Mobile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X24_Hour_Donor_Recheck</name>
        <label>24 Hour Donor Recheck</label>
        <locationX>407</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X24_Hour_Check_Receives_Appointment_Reminders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Visit_Input_Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X72_Hour_Donor_Recheck</name>
        <label>72 Hour Donor Recheck</label>
        <locationX>253</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X72_Hour_Check_Receives_Appointment_Reminders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Visit_Input_Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X7_Day_Donor_Recheck</name>
        <label>7 Day Donor Recheck</label>
        <locationX>253</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Receives_Appointment_Reminders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Visit_Input_Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Date_is_Past_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Appointment_Reminder_Text</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have a scheduled plasma donation appointment at {!Visit_Input_Record.Appointment__r.Schedule__r.Center__r.Name} scheduled for {!Visit_Input_Record.Visit_Date_Time__c}.
Please make sure to arrive on time, and bring a valid form of identification, proof of your social security card, and physical address.</text>
    </textTemplates>
    <textTemplates>
        <name>Appointment_Reminder_Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Appointment Reminder</text>
    </textTemplates>
    <variables>
        <name>Recipient_Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Visit record firing this notification.</description>
        <name>Visit_Input_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit__c</objectType>
    </variables>
    <variables>
        <name>X24_Hours_Before_Visit_Message</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>X72_Hours_Before_Visit_Message</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>X7_Days_Before_Visit_Message</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <waits>
        <name>Wait_Until_24_Hours_Prior_Pause</name>
        <label>Wait Until 24 Hours Prior</label>
        <locationX>407</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>X24_Hour_Donor_Recheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_Until_24_Hours_Prior</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>X24_Hour_Donor_Recheck</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Visit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Visit_Date_Time__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>Visit_Input_Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-24.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait Until 24 Hours Prior</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_Until_72_Hours_Prior_Pause</name>
        <label>Wait Until 72 Hours Prior</label>
        <locationX>407</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Wait_Until_24_Hours_Prior_Pause</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_Until_72_Hours_Prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>X72_Hours_Before_Visit_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X72_Hour_Donor_Recheck</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Visit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Visit_Date_Time__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>Visit_Input_Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-72.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait Until 72 Hours Prior</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_Until_7_Days_Prior</name>
        <label>Wait Until 7 Days Prior</label>
        <locationX>407</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Wait_Until_72_Hours_Prior_Pause</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_7_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>X7_Days_Before_Visit_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X7_Day_Donor_Recheck</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Visit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Visit_Date_Time__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>Visit_Input_Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-7.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Wait 7 Days</label>
        </waitEvents>
    </waits>
</Flow>
