force-app/main/default/flows/Broadcast_Actions_Center.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Broadcast_Action</name>
        <label>Execute Broadcast Action</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <actionName>BroadcastActionInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>messageConfiguration</name>
            <value>
                <elementReference>Broadcast_Action_Configurations</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Donor_Count</assignToReference>
            <name>donorCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Donor_User_Ids</assignToReference>
            <name>donorUserIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Final_Message_Content_for_Broadcast</assignToReference>
            <name>finalMessageText</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Message_Records</assignToReference>
            <name>messageRecords</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Center_Message_to_Collection</name>
        <label>Add Center Message to Collection</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Message_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Center_Message_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Broadcast_Action_Collection</name>
        <label>Add to Broadcast Action Collection</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Broadcast_Action_Configurations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Broadcast_Message_Configuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Broadcast_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Center_Message_Record</name>
        <label>Assign Center Message Record</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Center_Message_Record.Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Broadcast_Message_Configuration.CenterAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Center_Message_Record.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Message_Content_for_Broadcast</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Center_Message_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Title_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Center_Message_Record.Scheduled_Send_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Center_Message_Record.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_Expiration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Center_Message_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Message_Configuration_Values</name>
        <label>Assign Message Configuration Values</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Broadcast_Message_Configuration.Audience</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Audience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Broadcast_Message_Configuration.ClosureStartDatetime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Date_and_Time_of_Closure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Broadcast_Message_Configuration.DonorScheduleEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Donor_Schedule_End</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Broadcast_Message_Configuration.DonorScheduleStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Donor_Schedule_Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Broadcast_Message_Configuration.MessageContent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_Content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Broadcast_Message_Configuration.MessageExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_Expiration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Broadcast_Message_Configuration.MessageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Type_of_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Broadcast_Message_Configuration.ReopenDatetime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Date_and_Time_to_Reopen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Broadcast_Message_Configuration.CenterAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Broadcast_Message_Configuration.flowUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_User_Detail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Broadcast_Message_Configuration.ScheduledSendDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Broadcast_Action_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>All_Donors_for_Center</name>
        <choiceText>All Donors for Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All Donors for Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Center_Closure</name>
        <choiceText>Center Closure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Center Closure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Donors_on_Schedule</name>
        <choiceText>Donors on Schedule</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Donors on Schedule</stringValue>
        </value>
    </choices>
    <choices>
        <name>Important_Update</name>
        <choiceText>Important Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Important Update</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Record_Type_Decision</name>
        <label>Check Record Type Decision</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Launch_from_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Center_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Center_Record_Details.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Running_User_Permission_Decision</targetReference>
            </connector>
            <label>Is Center Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Donor_Ids_Decision</name>
        <label>Have Donor Ids Decision</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Donor_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Donor_User_Ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Messages</targetReference>
            </connector>
            <label>Have Donor Ids</label>
        </rules>
    </decisions>
    <decisions>
        <name>Running_User_Permission_Decision</name>
        <label>Running User Permission Decision</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Missing_Permission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Broadcast_Action_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Broadcast_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Broadcast_Actions_Screen</targetReference>
            </connector>
            <label>Has Broadcast Action Permission</label>
        </rules>
    </decisions>
    <description>Enables sending Broadcast Actions based upon a user&apos;s inputs.</description>
    <environments>Default</environments>
    <formulas>
        <name>Notification_Title_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Select_Type_of_Message}={!Center_Closure},&quot;Center Closure&quot;,&quot;Important Center Update&quot;)</expression>
    </formulas>
    <interviewLabel>Broadcast Actions for Center {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Broadcast Actions for Center</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Center_Record_Details</name>
        <label>Get Center Record Details</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Donor_Ids_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proesis_Donor_App_Mobile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_User_Detail</name>
        <label>Get Flow User Detail</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Message_Configuration_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Broadcast_Actions_Screen</name>
        <label>Broadcast Actions Screen</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Flow_User_Detail</targetReference>
        </connector>
        <fields>
            <name>Title_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!Title_Text_Template}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Type_of_Message</name>
            <choiceReferences>Center_Closure</choiceReferences>
            <choiceReferences>Important_Update</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Type of Message</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Please indicate the type of message to broadcast. &lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Broadcast_Actions_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Broadcast_Actions_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Date_and_Time_of_Closure</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Select Date and Time of Closure</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Please indicate the date &amp;amp; time of closure. &lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Broadcast_Actions_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Date_and_Time_to_Reopen</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Select Date and Time to Reopen</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Type_of_Message</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Center_Closure</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Audience</name>
            <choiceReferences>Donors_on_Schedule</choiceReferences>
            <choiceReferences>All_Donors_for_Center</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Audience</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Broadcast_Actions_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Broadcast_Actions_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Donor_Schedule_Start</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Donor Schedule Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date must be today or in the future.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Donor_Schedule_Start} &gt;= {!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Broadcast_Actions_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Donor_Schedule_End</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Donor Schedule End</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Date must be today or in the future.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Donor_Schedule_End} &gt;= {!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Audience</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Donors_on_Schedule</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Message_Content</name>
            <defaultValue>
                <stringValue>Please limit to 255 characters or less, if possible. </stringValue>
            </defaultValue>
            <fieldText>Message Content</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please limit to 255 characters or less, if possible.&amp;nbsp;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Send_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>When would you like to send this message?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please indicate when this notification should be sent, now or in the future. &lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please select a time now or in the future.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Send_Date_Time} &gt;= {!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Message_Expiration</name>
            <dataType>Date</dataType>
            <fieldText>When will this message expire? (Optional)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If this message should not appear in someone&apos;s list of notifications on / after a date, please indicate this here.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please select a date in the future. &lt;/p&gt;</errorMessage>
                <formulaExpression>{!Message_Expiration} &gt;= DATEVALUE({!$Flow.CurrentDateTime})</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Final_Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Screen_Title</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!Confirm_Screen_Title_Text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Content_Closure</name>
            <fieldText>&lt;p&gt;{!Confirmation_Screen_Content_Closure}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Type_of_Message</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Center_Closure</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Content_Urgent</name>
            <fieldText>&lt;p&gt;{!Confirmation_Screen_Content_Urgent}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Type_of_Message</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Important_Update</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Content_Core</name>
            <fieldText>&lt;p&gt;{!Confirmation_Screen_Content_Core}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Next_Step</name>
            <fieldText>&lt;p&gt;If all looks correct, please click &lt;span style=&quot;font-family: courier;&quot;&gt;Next&lt;/span&gt;. If not, please click &lt;span style=&quot;font-family: courier;&quot;&gt;Previous&lt;/span&gt; to revise, or &lt;span style=&quot;font-family: courier;&quot;&gt;Cancel&lt;/span&gt;. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Confirmation_Screen</name>
        <label>Final Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Center_Message_Record</targetReference>
        </connector>
        <fields>
            <name>Final_Confirmation_Text</name>
            <fieldText>&lt;p&gt;{!Final_Confirmation_Text_Template}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_Your_First_Name_to_Confirm</name>
            <dataType>String</dataType>
            <fieldText>Type Your First Name to Confirm</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This is a critical confirmation step to ensure you confirm and sign off on sending this message. &lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please ensure you have typed your first name correctly, matching the First Name on your User record here in Salesforce. &lt;/p&gt;</errorMessage>
                <formulaExpression>{!Type_Your_First_Name_to_Confirm} = {!$User.FirstName}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Launch_from_Center</name>
        <label>Launch from Center</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Launch_from_Center_Text</name>
            <fieldText>&lt;p&gt;Please make sure to launch this component from a &lt;em&gt;Center&lt;/em&gt; &lt;span style=&quot;font-family: courier;&quot;&gt;RecordType&lt;/span&gt; &lt;span style=&quot;font-family: courier;&quot;&gt;Account&lt;/span&gt;, on its record page. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Permission</name>
        <label>Missing Permission</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Missing_Permission_Text</name>
            <fieldText>&lt;p&gt;You do not have permission to complete this action. Please contact your System Administrator for details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Center_Record_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Messages</name>
        <label>Send Messages</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <flowName>Send_Broadcast_Action_Messages</flowName>
        <inputAssignments>
            <name>Custom_Notification_Id</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Records</name>
            <value>
                <elementReference>Message_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_Body_Content</name>
            <value>
                <elementReference>Final_Message_Content_for_Broadcast</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_Title_Content</name>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient_Ids</name>
            <value>
                <elementReference>Donor_User_Ids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Send_Date_Time</name>
            <value>
                <elementReference>Send_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Configuration</name>
            <value>
                <elementReference>Broadcast_Message_Configuration</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Confirm_Screen_Title_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please confirm these details to send a Broadcast Message to a &lt;/span&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Center_Record_Details.Name} Center&lt;/strong&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; Audience.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Confirmation_Screen_Content_Closure</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: courier;&quot;&gt;Type&lt;/span&gt; = {!Select_Type_of_Message}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: courier;&quot;&gt;Closure Date and Time&lt;/span&gt; = {!Select_Date_and_Time_of_Closure}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: courier;&quot;&gt;Reopen Date and Time&lt;/span&gt; = {!Select_Date_and_Time_to_Reopen}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Confirmation_Screen_Content_Core</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Audience = {!Select_Audience}&lt;/p&gt;&lt;p&gt;Message Send Date &amp;amp; Time = {!Send_Date_Time}&lt;/p&gt;&lt;p&gt;Message Expiration = {!Message_Expiration}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Confirmation_Screen_Content_Urgent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: courier; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Type&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; = {!Select_Type_of_Message}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Final_Confirmation_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You are about to send a message to {!Donor_Count} Donors for this {!Get_Center_Record_Details.Name} broadcast message. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Are you sure? Please type your name below (matching the first name on your &lt;span style=&quot;font-family: courier;&quot;&gt;User&lt;/span&gt; record here in Salesforce) to confirm. Then, click &lt;span style=&quot;font-family: courier;&quot;&gt;Finish&lt;/span&gt; to send your message.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Notification_Title_Formula}</text>
    </textTemplates>
    <textTemplates>
        <name>Title_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Send a Broadcast Message to a &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Get_Center_Record_Details.Name} Center&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; Audience.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Broadcast_Action_Configurations</name>
        <apexClass>BroadcastActionInvocableVariable</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Broadcast_Message_Configuration</name>
        <apexClass>BroadcastActionInvocableVariable</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Center_Message_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>Donor_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Donor_User_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Message_Content_for_Broadcast</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Message_Record_Strings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Message_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <description>Input record for Center Account launching the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
