force-app/main/default/flows/Donation_Payment_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Donation_Notification</name>
        <label>Donation Notification</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_Id_Input.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Donation_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Donation_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient_Id_Collection_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Message_Record_Input.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Promotion_Notification</name>
        <label>Promotion Notification</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_Id_Input.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Promotion_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Promotion_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient_Id_Collection_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Message_Record_Input.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Message_Type_Decision</name>
        <label>Message Type Decision</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Donation_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Message_Record_Input.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Donation_Notification</targetReference>
            </connector>
            <label>Donation Payment</label>
        </rules>
        <rules>
            <name>With_Loyalty_Promotion_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Message_Record_Input.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation with Loyalty Promotion Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Promotion_Notification</targetReference>
            </connector>
            <label>With Loyalty Promotion Payment</label>
        </rules>
    </decisions>
    <description>Informs the donor that a new donation payment has been issued.</description>
    <environments>Default</environments>
    <formulas>
        <name>Last_Physical_Exam_Plus_One_Year</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Donor_Record_Input.Last_Physical_Exam_Date__c},12)</expression>
    </formulas>
    <interviewLabel>Donation Payment Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Donation Payment Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Message_Type_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Donation_Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thank you for donating plasma with Proesis Bio. We are grateful for your generosity in helping save the lives of patients who depend on plasma-derived medicines to treat life-threatening conditions. Navigate to My Rewards, Payment History to see details.</text>
    </textTemplates>
    <textTemplates>
        <name>Donation_Notification_Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You Just Got Paid for Donating!</text>
    </textTemplates>
    <textTemplates>
        <name>Promotion_Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thank you for donating plasma with Proesis Bio. Based on your frequent and valued plasma donations, your loyalty status has been upgraded, and you have received a bonus. Navigate to My Rewards, Payment History to see details.</text>
    </textTemplates>
    <textTemplates>
        <name>Promotion_Notification_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You Just Got Promoted and Paid for Donating!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Custom_Notification_Id_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomNotificationType</objectType>
    </variables>
    <variables>
        <name>Donor_Record_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Donor_User_Record_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Message_Record_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>Recipient_Id_Collection_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
