force-app/main/default/flows/Donor_Payment_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fire_Exception_Payment</name>
        <label>Fire Exception Payment</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>ExceptionPaymentInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Build_Message_Record_Exception</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>donorId</name>
            <value>
                <elementReference>$Record.Donor_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitId</name>
            <value>
                <elementReference>$Record.Visit_Id__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Amount</assignToReference>
            <name>amount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Donor_Id</assignToReference>
            <name>donorId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Reason</assignToReference>
            <name>reason</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Transaction_Id</assignToReference>
            <name>transactionId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Visit_Id</assignToReference>
            <name>visitId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Fire_Promotion_Payment</name>
        <label>Fire Promotion Payment</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <actionName>PromotionPaymentInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Payment_Request_Id_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>donorId</name>
            <value>
                <elementReference>$Record.Donor_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitId</name>
            <value>
                <elementReference>$Record.Visit_Id__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Amount</assignToReference>
            <name>amount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Donor_Id</assignToReference>
            <name>donorId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Reason</assignToReference>
            <name>reason</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Transaction_Id</assignToReference>
            <name>transactionId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Visit_Id</assignToReference>
            <name>visitId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Message_Record_Values</name>
        <label>Assign Message Record Values</label>
        <locationX>314</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>inputMessageValues.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Request_Record_Values.Message_Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputMessageValues.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Request_Record_Values.Message_Body__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Message_Record_Promotion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Request_Values</name>
        <label>Assign Payment Request Values</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Payment_Request_Update_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payment_Request_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Request_Update_Record.Transaction_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Request_Update_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Message_Record_Exception</name>
        <label>Build Message Record Exception</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>Message_Record.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Body_Exception</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Donor_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Visit_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Message_Handler_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception Payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Message_Exception_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Message_Record_Promotion</name>
        <label>Build Message Record Promotion</label>
        <locationX>314</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>Message_Record.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Body_Promotion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Donor_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Visit_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Message_Handler_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Promotion Payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Message_Promotion_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Build_Message_Record_Promotion</name>
        <label>(Default) Build Message Record Promotion</label>
        <locationX>578</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Message_Record.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Body_Promotion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Donor_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Visit_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Message_Handler_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Promotion Payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Default_Create_Message_Promotion_Payment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Payment_Request_Id_Decision</name>
        <label>Has Payment Request Id Decision</label>
        <locationX>446</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Default_Build_Message_Record_Promotion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Payment_Request_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Request_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Request_Record_Values</targetReference>
            </connector>
            <label>Has Payment Request Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Routes</name>
        <label>Type Routes</label>
        <locationX>446</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exception</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fire_Exception_Payment</targetReference>
            </connector>
            <label>Exception</label>
        </rules>
        <rules>
            <name>Promotion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promotion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fire_Promotion_Payment</targetReference>
            </connector>
            <label>Promotion</label>
        </rules>
    </decisions>
    <description>Handles processing of Donor Payment platform events.</description>
    <environments>Default</environments>
    <formulas>
        <name>Notification_Body_Exception_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!inputMessageValues.Body__c}),&quot;You have just received a $Amount payment for Reason. We have debited your account. Please navigate to My Rewards, Payment History for details.&quot;,{!inputMessageValues.Body__c})</expression>
    </formulas>
    <formulas>
        <name>Notification_Body_Promotion_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!inputMessageValues.Body__c}),&quot;You have just received a $Amount payment for Reason, as part of our $Record.Campaign_Name__c Campaign. We have debited your account. Please navigate to My Rewards, Payment History for details.&quot;,{!inputMessageValues.Body__c})</expression>
    </formulas>
    <formulas>
        <name>Notification_Title_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!inputMessageValues.Name}),&quot;You received a payment from Proesis!&quot;,{!inputMessageValues.Name})</expression>
    </formulas>
    <interviewLabel>Donor Payment Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Donor Payment Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Message_Exception_Payment</name>
        <label>Create Message Exception Payment</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <inputReference>Message_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Message_Promotion_Payment</name>
        <label>Create Message Promotion Payment</label>
        <locationX>314</locationX>
        <locationY>1034</locationY>
        <inputReference>Message_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Default_Create_Message_Promotion_Payment</name>
        <label>(Default) Create Message Promotion Payment</label>
        <locationX>578</locationX>
        <locationY>602</locationY>
        <inputReference>Message_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Payment_Request_Record_Values</name>
        <label>Get Payment Request Record Values</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Payment_Request_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Request_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_Request</name>
        <label>Update Payment Request</label>
        <locationX>314</locationX>
        <locationY>710</locationY>
        <connector>
            <targetReference>Assign_Message_Record_Values</targetReference>
        </connector>
        <inputReference>Payment_Request_Update_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type_Routes</targetReference>
        </connector>
        <object>Donor_Payment__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification_Body_Exception</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Notification_Body_Exception_Formula}</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Body_Promotion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Notification_Body_Promotion_Formula}</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Notification_Title_Formula}</text>
    </textTemplates>
    <variables>
        <name>Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Donor_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputMessageValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>Message_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>Payment_Request_Update_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Request__c</objectType>
    </variables>
    <variables>
        <name>Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Transaction_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Visit_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
