force-app/main/default/flows/Donor_Payment_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fire_Exception_Payment</name>
        <label>Fire Exception Payment</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <actionName>ExceptionPaymentInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Build_Message_Record_Exception</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>donorId</name>
            <value>
                <elementReference>$Record.Donor_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitId</name>
            <value>
                <elementReference>$Record.Visit_Id__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Amount</assignToReference>
            <name>amount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Donor_Id</assignToReference>
            <name>donorId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Reason</assignToReference>
            <name>reason</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Transaction_Id</assignToReference>
            <name>transactionId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Visit_Id</assignToReference>
            <name>visitId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Fire_Promotion_Payment</name>
        <label>Fire Promotion Payment</label>
        <locationX>314</locationX>
        <locationY>554</locationY>
        <actionName>PromotionPaymentInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Build_Message_Record_Promotion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>donorId</name>
            <value>
                <elementReference>$Record.Donor_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitId</name>
            <value>
                <elementReference>$Record.Visit_Id__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Amount</assignToReference>
            <name>amount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Donor_Id</assignToReference>
            <name>donorId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Reason</assignToReference>
            <name>reason</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Transaction_Id</assignToReference>
            <name>transactionId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Visit_Id</assignToReference>
            <name>visitId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Build_Message_Record_Exception</name>
        <label>Build Message Record Exception</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>Message_Record.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Body_Exception</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Donor_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Visit_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Message_Handler_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception Payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Message_Exception_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Message_Record_Promotion</name>
        <label>Build Message Record Promotion</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Message_Record.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Body_Promotion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Donor_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Visit_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Message_Handler_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Promotion Payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Message_Promotion_Payment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Campaign_Decision</name>
        <label>Found Campaign Decision</label>
        <locationX>446</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fire_Promotion_Payment</targetReference>
            </connector>
            <label>Found Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Routes</name>
        <label>Type Routes</label>
        <locationX>446</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exception</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fire_Exception_Payment</targetReference>
            </connector>
            <label>Exception</label>
        </rules>
        <rules>
            <name>Promotion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promotion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Record</targetReference>
            </connector>
            <label>Promotion</label>
        </rules>
    </decisions>
    <description>Handles processing of Donor Payment platform events.</description>
    <environments>Default</environments>
    <interviewLabel>Donor Payment Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Donor Payment Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Message_Exception_Payment</name>
        <label>Create Message Exception Payment</label>
        <locationX>50</locationX>
        <locationY>554</locationY>
        <inputReference>Message_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Message_Promotion_Payment</name>
        <label>Create Message Promotion Payment</label>
        <locationX>314</locationX>
        <locationY>794</locationY>
        <inputReference>Message_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Record</name>
        <label>Get Campaign Record</label>
        <locationX>446</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Campaign_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type_Routes</targetReference>
        </connector>
        <object>Donor_Payment__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification_Body_Exception</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You have just received a ${!Amount} payment for {!Reason}. We have debited your account. Please navigate to My Rewards, Payment History for details.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Body_Promotion</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You have just received a ${!Amount} payment for {!Reason}, as part of our {!$Record.Campaign_Name__c} Campaign. We have debited your account. Please navigate to My Rewards, Payment History for details.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You Received a Payment from Proesis!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Donor_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Message_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Transaction_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Visit_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
