force-app/main/default/flows/Donor_Comp_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Visit_Details</name>
        <label>Update Visit Details</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <actionName>DonorCompInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputRecords</name>
            <value>
                <elementReference>inputRecords</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Event_to_Collection</name>
        <label>Add Event to Collection</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>inputRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Visit_Details</targetReference>
        </connector>
    </assignments>
    <description>Handles logic to fire after this Donor Comp Platform Event occurs.</description>
    <environments>Default</environments>
    <interviewLabel>Donor Comp Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Donor Comp Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Event_to_Collection</targetReference>
        </connector>
        <object>Donor_Comp__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>inputRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Donor_Comp__e</objectType>
    </variables>
</Flow>
