force-app/main/default/flows/Message_Handler_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_User_Id_to_Recipient_Collection</name>
        <label>Assign User Id to Recipient Collection</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Id_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Donor_User_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Message_Handler_Type_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Donor_Has_User_Record_Decision</name>
        <label>Donor Has User Record Decision</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Donor_Has_User_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Donor_User_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_Id</targetReference>
            </connector>
            <label>Donor Has User Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gets_Appointment_Reminders_Decision</name>
        <label>Gets Appointment Reminders Decision</label>
        <locationX>1238</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Receives_Appointment_Reminders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Donor_Record_Comm_Prefs.Enable_Appointment_Reminders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Reminder_Notification</targetReference>
            </connector>
            <label>Receives Appointment Reminders</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Message_Type_Value_Decision</name>
        <label>Has Message Type Value Decision</label>
        <locationX>1766</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Message_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Donor_User_Id</targetReference>
            </connector>
            <label>Has Message Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Message_Handler_Type_Decision</name>
        <label>Message Handler Type Decision</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Welcome_New_Donor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Welcome New Donor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_New_Donor_Notification</targetReference>
            </connector>
            <label>Welcome New Donor</label>
        </rules>
        <rules>
            <name>Apology</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apology</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apology_Notification_Transaction_Records</targetReference>
            </connector>
            <label>Apology</label>
        </rules>
        <rules>
            <name>Post_Donation_Satisfaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Donation Satisfaction</stringValue>
                </rightValue>
            </conditions>
            <label>Post Donation Satisfaction</label>
        </rules>
        <rules>
            <name>Annual_Physical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Physical</stringValue>
                </rightValue>
            </conditions>
            <label>Annual Physical</label>
        </rules>
        <rules>
            <name>Appointment_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gets_Appointment_Reminders_Decision</targetReference>
            </connector>
            <label>Appointment Reminder</label>
        </rules>
    </decisions>
    <description>Handles actions needed for messages, primarily notifications, when Message records are inserted.</description>
    <environments>Default</environments>
    <interviewLabel>Message Handler Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Message Handler Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Donor_Record_Comm_Prefs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proesis_Donor_App_Mobile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donor_Record_Comm_Prefs</name>
        <label>Get Donor Record Comm Prefs</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_Id_to_Recipient_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donor_User_Id</name>
        <label>Get Donor User Id</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Donor_Has_User_Record_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Message_Type_Value_Decision</targetReference>
        </connector>
        <object>Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Apology_Notification_Transaction_Records</name>
        <label>Apology Notification and Transaction Records</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <flowName>Apology_Notification_Transaction_Records</flowName>
        <inputAssignments>
            <name>Custom_Notification_Id_Input</name>
            <value>
                <elementReference>Get_Custom_Notification_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_Record_Input</name>
            <value>
                <elementReference>Get_Donor_Record_Comm_Prefs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_User_Record_Input</name>
            <value>
                <elementReference>Get_Donor_User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Record_Input</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient_Id_Collection_Input</name>
            <value>
                <elementReference>Recipient_Id_Collection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Appointment_Reminder_Notification</name>
        <label>Appointment Reminder Notification</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <flowName>Appointment_Reminder</flowName>
        <inputAssignments>
            <name>Custom_Notification_Id_Input</name>
            <value>
                <elementReference>Get_Custom_Notification_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_Record_Input</name>
            <value>
                <elementReference>Get_Donor_Record_Comm_Prefs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_User_Record_Input</name>
            <value>
                <elementReference>Get_Donor_User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Record_Input</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient_Id_Collection_Input</name>
            <value>
                <elementReference>Recipient_Id_Collection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Welcome_New_Donor_Notification</name>
        <label>Welcome New Donor Notification</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <flowName>Welcome_New_Donor_Notification</flowName>
        <inputAssignments>
            <name>Custom_Notification_Id_Input</name>
            <value>
                <elementReference>Get_Custom_Notification_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_Record_Input</name>
            <value>
                <elementReference>Get_Donor_Record_Comm_Prefs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_User_Record_Input</name>
            <value>
                <elementReference>Get_Donor_User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Record_Input</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient_Id_Collection_Input</name>
            <value>
                <elementReference>Recipient_Id_Collection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Notification_Recipient_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Recipient_Id_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
