force-app/main/default/flows/Message_Handler_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_User_Id_to_Recipient_Collection</name>
        <label>Assign User Id to Recipient Collection</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Id_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Donor_User_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Message_Handler_Type_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Donor_Has_User_Record_Decision</name>
        <label>Donor Has User Record Decision</label>
        <locationX>2162</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Donor_Has_User_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Donor_User_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_Type_Id</targetReference>
            </connector>
            <label>Donor Has User Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gets_Appointment_Reminders_Decision</name>
        <label>Gets Appointment Reminders Decision</label>
        <locationX>974</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Receives_Appointment_Reminders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Donor_Contact_Record.Enable_Appointment_Reminders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Reminder_Notification</targetReference>
            </connector>
            <label>Receives Appointment Reminders</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Message_Type_Value_Decision</name>
        <label>Has Message Type Value Decision</label>
        <locationX>3086</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Message_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Donor_Communication_Preferences</targetReference>
            </connector>
            <label>Has Message Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Message_Handler_Type_Decision</name>
        <label>Message Handler Type Decision</label>
        <locationX>1370</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Welcome_New_Donor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Welcome New Donor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_New_Donor_Notification</targetReference>
            </connector>
            <label>Welcome New Donor</label>
        </rules>
        <rules>
            <name>Apology</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apology</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apology_Notification_Transaction_Records</targetReference>
            </connector>
            <label>Apology</label>
        </rules>
        <rules>
            <name>Annual_Physical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Physical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Physical_Reminder_Notification</targetReference>
            </connector>
            <label>Annual Physical</label>
        </rules>
        <rules>
            <name>Appointment_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gets_Appointment_Reminders_Decision</targetReference>
            </connector>
            <label>Appointment Reminder</label>
        </rules>
        <rules>
            <name>SPE_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPE Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPE_Reminder_Notification</targetReference>
            </connector>
            <label>SPE Reminder</label>
        </rules>
        <rules>
            <name>Reschedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reschedule_Appointment</targetReference>
            </connector>
            <label>Reschedule</label>
        </rules>
        <rules>
            <name>Donation_Payment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation with Loyalty Promotion Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Donation_Payment_Notification</targetReference>
            </connector>
            <label>Donation Payment</label>
        </rules>
        <rules>
            <name>Buddy_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buddy Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buddy_Referral_Notification</targetReference>
            </connector>
            <label>Buddy Referral</label>
        </rules>
        <rules>
            <name>Exception_Promotion_Payment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exception Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Message_Handler_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promotion Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fire_Donor_Payment_Notification</targetReference>
            </connector>
            <label>Exception / Promotion Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Receives_Mobile_Push_Notifications_Decision</name>
        <label>Receives Mobile Push Notifications Decision</label>
        <locationX>2690</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobile_Notifications_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Donor_Contact_Record.Enable_Mobile_Push__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Record_From_Donor_Id</targetReference>
            </connector>
            <label>Mobile Notifications Enabled</label>
        </rules>
    </decisions>
    <description>Handles actions needed for messages, primarily notifications, when Message records are inserted.</description>
    <environments>Default</environments>
    <interviewLabel>Message Handler Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Message Handler Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2960</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Message_Type_Value_Decision</targetReference>
        </connector>
        <object>Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Annual_Physical_Reminder_Notification</name>
        <label>Annual Physical Reminder Notification</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <flowName>Annual_Physical_Reminder_Notification</flowName>
        <inputAssignments>
            <name>Custom_Notification_Id_Input</name>
            <value>
                <elementReference>Custom_Notification_Type_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_Record_Input</name>
            <value>
                <elementReference>Donor_Contact_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_User_Record_Input</name>
            <value>
                <elementReference>Donor_User_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Record_Input</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient_Id_Collection_Input</name>
            <value>
                <elementReference>Recipient_Id_Collection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Apology_Notification_Transaction_Records</name>
        <label>Apology Notification and Transaction Records</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <flowName>Apology_Notification_Transaction_Records</flowName>
        <inputAssignments>
            <name>Custom_Notification_Id_Input</name>
            <value>
                <elementReference>Custom_Notification_Type_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_Record_Input</name>
            <value>
                <elementReference>Donor_Contact_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_User_Record_Input</name>
            <value>
                <elementReference>Donor_User_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Record_Input</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient_Id_Collection_Input</name>
            <value>
                <elementReference>Recipient_Id_Collection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Appointment_Reminder_Notification</name>
        <label>Appointment Reminder Notification</label>
        <locationX>842</locationX>
        <locationY>1415</locationY>
        <flowName>Appointment_Reminder</flowName>
        <inputAssignments>
            <name>Custom_Notification_Id_Input</name>
            <value>
                <elementReference>Custom_Notification_Type_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_Record_Input</name>
            <value>
                <elementReference>Donor_Contact_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_User_Record_Input</name>
            <value>
                <elementReference>Donor_User_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Record_Input</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient_Id_Collection_Input</name>
            <value>
                <elementReference>Recipient_Id_Collection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Buddy_Referral_Notification</name>
        <label>Buddy Referral Notification</label>
        <locationX>2162</locationX>
        <locationY>1295</locationY>
        <flowName>Buddy_Referral</flowName>
        <inputAssignments>
            <name>Custom_Notification_Id_Input</name>
            <value>
                <elementReference>Custom_Notification_Type_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_Record_Input</name>
            <value>
                <elementReference>Donor_Contact_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_User_Record_Input</name>
            <value>
                <elementReference>Donor_User_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Record_Input</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient_Id_Collection_Input</name>
            <value>
                <elementReference>Recipient_Id_Collection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Donation_Payment_Notification</name>
        <label>Donation Payment Notification</label>
        <locationX>1898</locationX>
        <locationY>1295</locationY>
        <flowName>Donation_Payment_Notification</flowName>
        <inputAssignments>
            <name>Custom_Notification_Id_Input</name>
            <value>
                <elementReference>Custom_Notification_Type_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_Record_Input</name>
            <value>
                <elementReference>Donor_Contact_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_User_Record_Input</name>
            <value>
                <elementReference>Donor_User_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Record_Input</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient_Id_Collection_Input</name>
            <value>
                <elementReference>Recipient_Id_Collection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fire_Donor_Payment_Notification</name>
        <label>Fire Donor Payment Notification</label>
        <locationX>2426</locationX>
        <locationY>1295</locationY>
        <flowName>Donation_Payment_Notification</flowName>
        <inputAssignments>
            <name>Custom_Notification_Id_Input</name>
            <value>
                <elementReference>Custom_Notification_Type_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_Record_Input</name>
            <value>
                <elementReference>Donor_Contact_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_User_Record_Input</name>
            <value>
                <elementReference>Donor_User_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Record_Input</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient_Id_Collection_Input</name>
            <value>
                <elementReference>Recipient_Id_Collection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Runs in system context, to ensure this flow fires correctly.</description>
        <name>Get_Custom_Notification_Type_Id</name>
        <label>Get Custom Notification Type Id</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Assign_User_Id_to_Recipient_Collection</targetReference>
        </connector>
        <flowName>Get_Proesis_Mobile_Custom_Notification_Type_Id</flowName>
        <outputAssignments>
            <assignToReference>Custom_Notification_Type_Record</assignToReference>
            <name>Custom_Notification_Type_Record</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Runs in system mode, to get the contact communication preference info, so we can run the flow correctly.</description>
        <name>Get_Donor_Communication_Preferences</name>
        <label>Get Donor Communication Preferences</label>
        <locationX>2690</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Receives_Mobile_Push_Notifications_Decision</targetReference>
        </connector>
        <flowName>Get_Contact_Communication_Preferences</flowName>
        <inputAssignments>
            <name>Id_Input</name>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Donor_Contact_Record</assignToReference>
            <name>Contact_Record_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_User_Record_From_Donor_Id</name>
        <label>Get User Record From Donor Id</label>
        <locationX>2162</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Donor_Has_User_Record_Decision</targetReference>
        </connector>
        <flowName>Get_User_Record_From_Contact_Id</flowName>
        <inputAssignments>
            <name>Contact_Id_Input</name>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Donor_User_Record</assignToReference>
            <name>User_Record_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Reschedule_Appointment</name>
        <label>Reschedule Appointment</label>
        <locationX>1634</locationX>
        <locationY>1295</locationY>
        <flowName>Reschedule_Appointment</flowName>
        <inputAssignments>
            <name>Custom_Notification_Id_Input</name>
            <value>
                <elementReference>Custom_Notification_Type_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_Record_Input</name>
            <value>
                <elementReference>Donor_Contact_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_User_Record_Input</name>
            <value>
                <elementReference>Donor_User_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Record_Input</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient_Id_Collection_Input</name>
            <value>
                <elementReference>Recipient_Id_Collection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SPE_Reminder_Notification</name>
        <label>SPE Reminder Notification</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <flowName>SPE_Reminder_Notification</flowName>
        <inputAssignments>
            <name>Custom_Notification_Id_Input</name>
            <value>
                <elementReference>Custom_Notification_Type_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_Record_Input</name>
            <value>
                <elementReference>Donor_Contact_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_User_Record_Input</name>
            <value>
                <elementReference>Donor_User_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Record_Input</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient_Id_Collection_Input</name>
            <value>
                <elementReference>Recipient_Id_Collection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Welcome_New_Donor_Notification</name>
        <label>Welcome New Donor Notification</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <flowName>Welcome_New_Donor_Notification</flowName>
        <inputAssignments>
            <name>Custom_Notification_Id_Input</name>
            <value>
                <elementReference>Custom_Notification_Type_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_Record_Input</name>
            <value>
                <elementReference>Donor_Contact_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Donor_User_Record_Input</name>
            <value>
                <elementReference>Donor_User_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message_Record_Input</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipient_Id_Collection_Input</name>
            <value>
                <elementReference>Recipient_Id_Collection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Custom_Notification_Type_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomNotificationType</objectType>
    </variables>
    <variables>
        <description>Communication preferences.</description>
        <name>Donor_Contact_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Donor_User_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Notification_Recipient_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Recipient_Id_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
