force-app/main/default/flows/Missed_Appointment_Push_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Mobile_Push_Notification</name>
        <label>Send Mobile Push Notification</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_Message_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Proesis_Mobile_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient_Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Visit_Record_Input.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Message_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Message_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Messages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Id_to_Collection</name>
        <label>Assign User Id to Collection</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Donor_User_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Mobile_Push_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Message_Record</name>
        <label>Create Message Record</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Message_Record.Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Record_Input.Donor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Record_Input.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Body_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>Handles Missed Appointment Push Notifications for Mobile.</description>
    <environments>Default</environments>
    <formulas>
        <name>Visit_Date_Time</name>
        <dataType>String</dataType>
        <expression>TEXT({!Visit_Record_Input.Visit_Date_Time__c})</expression>
    </formulas>
    <interviewLabel>Missed Appointment Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Missed Appointment Push Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Messages</name>
        <label>Create Messages</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <inputReference>Message_Records</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Donor_User_Record</name>
        <label>Get Donor User Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_Id_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Visit_Record_Input.Donor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proesis_Mobile_Custom_Notification_Id</name>
        <label>Get Proesis Mobile Custom Notification Id</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Donor_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proesis_Donor_App_Mobile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Proesis_Mobile_Custom_Notification_Id</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Body_Text</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We are sorry you missed your appointment at {!Visit_Date_Time}. Please reschedule for a time that works best for you.</text>
    </textTemplates>
    <textTemplates>
        <name>Title_Text</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Missed Appointment</text>
    </textTemplates>
    <variables>
        <name>Message_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>Message_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>Recipient_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Visit Record initiating this flow.</description>
        <name>Visit_Record_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit__c</objectType>
    </variables>
</Flow>
