force-app/main/default/flows/Payment_Request_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Donor_Payment_Platform_Event_Values</name>
        <label>Assign Donor Payment Platform Event Values</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewDonorPaymentPlatformEvent.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount_Dollars__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDonorPaymentPlatformEvent.Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDonorPaymentPlatformEvent.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDonorPaymentPlatformEvent.Donor_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDonorPaymentPlatformEvent.Visit_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Visit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDonorPaymentPlatformEvent.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Promotion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDonorPaymentPlatformEvent.Payment_Request_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fire_Donor_Payment_Platform_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_Criteria_Decision</name>
        <label>Update Criteria Decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Transaction_Result__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transaction_Result__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Donor_Payment_Platform_Event_Values</targetReference>
            </connector>
            <label>Record is Approved</label>
        </rules>
    </decisions>
    <description>Fires after updates of Payment Requests.</description>
    <environments>Default</environments>
    <interviewLabel>Payment Request Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Request Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Fire_Donor_Payment_Platform_Event</name>
        <label>Fire Donor Payment Platform Event</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputReference>NewDonorPaymentPlatformEvent</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Criteria_Decision</targetReference>
        </connector>
        <object>Payment_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewDonorPaymentPlatformEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Donor_Payment__e</objectType>
    </variables>
</Flow>
