force-app/main/default/flows/Reschedule_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Assign_Correct_Values_to_Subject_and_Body</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_Id_Input.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient_Id_Collection_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Message_Record_Input.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Correct_Values_to_Subject_and_Body</name>
        <label>Assign Correct Values to Subject and Body</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Message_Record_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_Record_Input.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record_Update.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record_Update.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Reschedule_Appointment_Message_Values</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Reschedule Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reschedule Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Reschedule_Appointment_Message_Values</name>
        <label>Update Reschedule Appointment Message Values</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>Message_Record_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We are so sorry that you missed your appointment at {!Message_Record_Input.Visit__r.Appointment_Datetime__c}.Please reschedule for a time that works best for you.</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Reschedule Your Appointment?</text>
    </textTemplates>
    <variables>
        <name>Custom_Notification_Id_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomNotificationType</objectType>
    </variables>
    <variables>
        <name>Donor_Record_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Donor_User_Record_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Message_Record_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>Message_Record_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>Recipient_Id_Collection_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
